* {
  margin: 0;
}

div * {
  min-height: 25vh;
  min-width: 20vw;
}

header {
  background-color: red;
  width: 100vw;
}
nav {
  background-color: greenyellow;
  min-width: 20vw;
}
main {
  background-color: blue;
  min-width: 500px;
  width: 60vw;
}
aside {
  background-color: rgb(234, 62, 254);
  width: 20vw;
}

#site {
  display: flex;
  flex-direction: column;
}

#navmain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 50vw;
}

@media screen and (max-width: 835px) {
  main {
    min-width: 500px;
    width: 80vw;
  }
  aside {
    width: 100vw;
  }
}

@media screen and (max-width: 635px) {
  main {
    width: 100vw;
  }
  nav {
    width: 100vw;
  }
}
