# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Tim\Desktop\Uni\WiSe2020\EiWE 2020\Hausaufgaben\99. Semesterproject\SPWebEnginnering\backend\php\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
