body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 95vh;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#timer {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: linear-gradient(270deg, blue 50%, transparent 50%),
    linear-gradient(0deg, black 50%, lightgray 50%);
}

#center {
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 30px;
  background-color: #fff;
}

button {
  color: white;
  box-shadow: none;
  border: 0;
  background: none;
  padding: 10px 10px;
  margin: 5px 5px;
  background-color: blue;
}
