* {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
  padding: 5px 30px 0px;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background-color: white;
}

#mainnav {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  min-width: 200px;
}

#leftnav {
  list-style: none;
}

aside {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 150px;
  background-color: grey;
}

#content {
  padding: 20px;
  width: 60vw;
  height: 70vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  height: 10vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px;
}

footer {
  height: 10vh;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn {
  margin: 5px 5px 0px;
  height: 20px;
  display: block;
  padding: 5px 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  align-self: baseline;
  background-color: white;
  border: none;
  border-radius: 2px;
}

.edit {
  background-color: blueviolet;
}
